.card {
  position: relative;
}

.card img {
  width: 5rem
}

.card .front {
  position : absolute;
  transition: all 0.2s ease-in;
  transform: rotateY(90deg);
}

.flipped .front {
  position: absolute;
  transition-delay: 0.2s;
  transform: rotateY(0deg);
}

.front {
  background-color: #fff;
  border-radius: 50%;
  border: #333 solid 1px;
  padding: .1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.card .cover {
  transition: all 0.2s ease-in;
  transition-delay: 0.2s;
}

.flipped .cover {
  transition-delay: 0s;
  transform: rotateY(90deg);
}