.card {
  position: relative;
}

.card img {
  width: 5rem;
}

.card .front {
  position: absolute;
  transition: all 0.2s ease-in;
  transform: rotateY(90deg);
}

.flipped .front {
  position: absolute;
  transition-delay: 0.2s;
  transform: rotateY(0deg);
}

.front {
  font-size: 3rem;
  background-color: transparent;
  border-radius: 50%;
}

.card .cover {
  transition: all 0.2s ease-in;
  transition-delay: 0.2s;
}

.flipped .cover {
  transition-delay: 0s;
  transform: rotateY(90deg);
}
